body {
  margin: 0;
  background-color: hsla(0, 0%, 48%, 0.1);
  color: hsl(0, 0%, 48%);
  min-width: 350px;
}

body.sc-ksluID {
  height: 100vh;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: black;
}

button,
li {
  cursor: pointer;
}

/* .disabled{
  border: 2px solid green !important
} */

button {
  background-color: hsl(176, 50%, 47%);
  cursor: "pointer";
  padding: 1rem 1.5rem;
  border-radius: 50px;
  border: none;
  font-family: "Commissioner", sans-serif;
  color: white;
  font-weight: 500;
  /* min-width: 10rem; */
}

button:hover {
  background-color: hsl(176, 72%, 28%);
}
